layout {
    tab name="render-bench-10x" split_direction="vertical" {
        pane split_direction="horizontal" {
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
        }
        pane split_direction="horizontal" {
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
            pane { plugin location="file:target/wasm32-wasip1/release/zellij-render-bench.wasm" { animated "true" fps "20" } }
        }
    }
}

session_serialization false
