{%- call Flex(direction="row", gap=1, grow=1) -%}
{%- call Flex(shrink=0) -%}{{ session.name }}{% endcall -%}
{%- call Flex(direction="row", grow=1, shrink=1, overflow="scroll") -%}
{%- for tab in session.tabs -%}
{%- call Button(on_click=actions.switch_tab(tab.index), focused=tab.active) -%}{{ tab.name }}{%- endcall -%}
{%- endfor -%}
{%- endcall -%}
{%- call Button(on_click=actions.new_tab()) -%}+{%- endcall -%}
{%- include "clock.jinja" -%}
{%- endcall -%}

